* text=auto
* linguist-language=PHP
* linguist-language=HTML
* linguist-language=CSS
* linguist-language=JavaScript
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
