
.pd {
    padding    : 20px;
    border     : 5px solid black;
    box-sizing : border-box;
}
.mar-t5 {
    margin-top : 5px;
}
.m-b-50 {
    margin-bottom :50px;
}
.wd {
    width : 300px
}
.pd-45 {
    padding : 45px;
}
.display-no {
    display : none;
}
.select2-container .select2-selection--single {
    height : 34px;
}
.icheckbox_line-red, .iradio_line-red {
    margin-bottom : 4px;
}
.futur {
    margin-left : 10px;
!important;
}
.label.label-success, .label.label-danger {
    z-index : 0 !important;
}
.select2{
    width:100% !important;
}
@media (max-width:320px){
    .jp-card{
        min-width:250px !important;
    }
    .form-group .bootstrap-switch{
        margin-top:5px;
    }
}
.auto_block .input-group{
    display: block;
}